In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
os.getcwd()

'C:\\Users\\TriciaToffey\\desktop\\GitHubs\\ETL_Project\\no_dog_etl'

In [3]:
df_orig=pd.read_csv("./Resources/dog_breed_characteristics.csv")
df_orig.head(5)

,BreedName,AltBreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,MalaysiaGuardedDog,MalaysiaProhibitedDog,MalaysiaPopularity,PopularityUS2017
0,Affenpinscher,NaN,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,NaN,NaN,NaN,147.0
1,Afghan Hound,NaN,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,NaN,NaN,NaN,93.0
2,African Hunting Dog,NaN,NaN,NaN,23.0,Wild,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Airedale Terrier,Airedale,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,NaN,NaN,NaN,55.0
4,Akbash,NaN,Working,Guardian,53.0,"Affectionate, Alert, Courageous, Independent, ...",600.0,NaN,5.0,NaN,NaN,NaN,NaN

In [4]:
df_orig.columns

Index(['BreedName', 'AltBreedName', 'Group1', 'Group2', 'MaleWtKg',
       'Temperment', 'AvgPupPrice', 'Intelligence', 'Watchdog',
       'MalaysiaGuardedDog', 'MalaysiaProhibitedDog', 'MalaysiaPopularity',
       'PopularityUS2017'],
      dtype='object')

In [5]:
df=df_orig.drop(["AltBreedName", "MalaysiaGuardedDog", "MalaysiaProhibitedDog", "MalaysiaPopularity"], axis=1)

In [6]:
df.head()

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
0,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0
1,Afghan Hound,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,93.0
2,African Hunting Dog,NaN,NaN,23.0,Wild,NaN,NaN,NaN,NaN
3,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0
4,Akbash,Working,Guardian,53.0,"Affectionate, Alert, Courageous, Independent, ...",600.0,NaN,5.0,NaN

In [7]:
df.dropna(how='all')

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
0,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0
1,Afghan Hound,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,93.0
2,African Hunting Dog,NaN,NaN,23.0,Wild,NaN,NaN,NaN,NaN
3,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0
4,Akbash,Working,Guardian,53.0,"Affectionate, Alert, Courageous, Independent, ...",600.0,NaN,5.0,NaN
...,...,...,...,...,...,...,...,...,...
245,Wirehaired Terrier,Terrier,Terrier,7.0,"Alert, Bold, Fearless, Friendly, Keen, Quick, ...",900.0,51.0,3.0,99.0
246,Xoloitzcuintle/Mexican Hairless,Non Sporting,Sight,11.0,"Aleret, Calm, Cheerful, Companionable, Loyal, ...",700.0,NaN,3.0,143.0
247,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
248,Yorkshire Terrier Yorkie,Toy,Companion,3.0,"Alert, Courageous, Energetic, Independent, Int...",800.0,27.0,3.0,9.0
249,Mixed Breed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df=df.rename(columns={'PopularityUS2017': 'breed_rank'})

In [9]:
df.dropna(inplace=True)

In [10]:
df

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,breed_rank
0,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0
1,Afghan Hound,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,93.0
3,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0
5,Akita,Working,Herding,44.0,"Alert, Courageous, Dignified, Docile, Friendly...",1000.0,54.0,5.0,47.0
6,Alaskan Malamute,Working,Northern,40.0,"Affectionate, Devoted, Dignified, Friendly, Lo...",1350.0,50.0,5.0,59.0
...,...,...,...,...,...,...,...,...,...
243,Wire Fox Terrier,Terrier,Terrier,7.0,"Alert, Bold, Fearless, Friendly, Keen, Quick, ...",900.0,51.0,3.0,99.0
244,Wire-haired Pointing Griffon,Sporting,Gun,25.0,"Gentle, Loyal, Proud, Trainable, Vigilant, Int...",700.0,46.0,5.0,65.0
245,Wirehaired Terrier,Terrier,Terrier,7.0,"Alert, Bold, Fearless, Friendly, Keen, Quick, ...",900.0,51.0,3.0,99.0
247,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
248,Yorkshire Terrier Yorkie,Toy,Companion,3.0,"Alert, Courageous, Energetic, Independent, Int...",800.0,27.0,3.0,9.0

In [11]:
df['breed_rank'] = df['breed_rank'].astype(np.int64)

In [12]:
df=df.rename(columns={'Group1':'show_groups', 'Group2': 'subcategories', 'MaleWtKg': 'weight', 'Temperment': 'Temperament', "AvgPupPrice":"Average_Price", "Watchdog": "watchdog" })

In [13]:
#Characteristics_DF
characteristics_df = df
characteristics_df
characteristics_df.to_csv("characteristics_df.csv")

In [14]:
#df.sort_values(by=['PopularityUS2017']) -- no #189 in Characteristics

In [15]:
# df[['BreedName', 'PopularityUS2017']]

In [16]:
#df = df.loc[df['PopularityUS2017'].notnull()]

In [17]:
#duplicates = df["PopularityUS2017"].value_counts().loc[lambda x:x>1]

In [18]:
# duplicates =  df['PopularityUS2017'].value_counts().to_frame()
# duplicates=duplicates.reset_index()
# #duplicates.head(25)

In [19]:
# df_sorted = df.sort_values(by=["PopularityUS2017"])
# #df_sorted.tail(25)
# #There is no dog with PopularityUS2017 rank of 189

In [1]:
akc_df=pd.read_csv("index.csv")
#akc_df.head()

NameError: name 'pd' is not defined

In [2]:
akc_df["Breed"].value_counts(ascending=False)

NameError: name 'akc_df' is not defined

In [22]:
# akc_df["Breed"]=akc_df["Breed"].map(lambda x: str(x) [:-1])

In [23]:
# akc_df

     breed_id                 Breed  breed_rank
0           1  Retrievers (Labrador           1
1           2   German Shepherd Dog           2
2           3    Retrievers (Golden           3
3           4        French Bulldog           4
4           5               Bulldog           5
..        ...                   ...         ...
185       186            Otterhound         186
186       187     American Foxhound         187
187       188               Sloughi         188
188       189      English Foxhound         189
189       190   Norwegian Lundehund         190

[190 rows x 3 columns]

In [25]:
df["BreedName"].value_counts(ascending=False)

Boston Terrier          1
Pug                     1
Schnauzer               1
Japanese Chin           1
Scottish Deerhound      1
                       ..
Boxer                   1
Bichon Frise            1
Old English Sheepdog    1
Brittany Spaniel        1
Standard Poodle         1
Name: BreedName, Length: 147, dtype: int64

In [26]:
pop_select=akc_df.loc[akc_df['breed_rank']==190]
pop_select

     breed_id                 Breed  breed_rank
189       190  Norwegian Lundehunds         190

In [28]:
# pop_select=df.loc[df['PopularityUS2017']==80]
# pop_select

In [29]:
# df.at[109,'BreedName']   #[row,column] -- Giant Schnauzer (Companion)
# df.at[202,'BreedName']   #[row,column] -- Giant Schnauzer (Herding)

In [536]:
# df.at[109,'BreedName']="Giant Schnauzer (Companion)"
# df.at[202,'BreedName']="Giant Schnauzer (Herding)"

In [537]:
# #df.at[109,'BreedName']   
# df.at[202,'BreedName']

'Giant Schnauzer (Herding)'

In [30]:
merged_df=akc_df.merge(df, how="left", left_on="breed_rank", right_on="PopularityUS2017")

KeyError: 'PopularityUS2017'

In [539]:
merged_df  #characteristics database is missing #189

,breed_id,Breed,breed_rank,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
0,1,Retrievers (Labrador),1,Black Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
1,1,Retrievers (Labrador),1,Chocolate Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
2,1,Retrievers (Labrador),1,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
3,1,Retrievers (Labrador),1,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
4,2,German Shepherd Dogs,2,German Shepherd Dog,Herding,Herding,35.0,"Alert, Confident, Courageous, Curious, Intelli...",1400.0,3.0,6.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
211,187,American Foxhounds,187,Foxhound,Hound,Scenthound,32.0,"Independent, Intelligent, Kind, Loving, Loyal,...",500.0,46.0,2.0,187.0
212,187,American Foxhounds,187,Hound,Hound,Scenthound,32.0,"Independent, Intelligent, Kind, Loving, Loyal,...",500.0,46.0,2.0,187.0
213,188,Sloughis,188,Sloughi,Hound,Sight,28.0,"Alert, Faithful, Intelligent, Sensitive, Indep...",900.0,NaN,5.0,188.0
214,189,English Foxhounds,189,English Foxhounds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,190,Norwegian Lundehunds,190,Norwegian Lundehund,Non Sporting,Northern,8.0,"Alert, Energetic, Loyal, Protective",500.0,NaN,4.0,190.0

In [540]:
merged_df.at[214,'BreedName']="English Foxhounds"

In [541]:
merged_df.isna().sum().sum()

175

In [466]:
merged_df.drop(columns=['breed_id'])

,Breed,breed_rank,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
0,Retrievers (Labrador),1,Black Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
1,Retrievers (Labrador),1,Chocolate Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
2,Retrievers (Labrador),1,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
3,Retrievers (Labrador),1,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
4,German Shepherd Dogs,2,German Shepherd Dog,Herding,Herding,35.0,"Alert, Confident, Courageous, Curious, Intelli...",1400.0,3.0,6.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
211,American Foxhounds,187,Foxhound,Hound,Scenthound,32.0,"Independent, Intelligent, Kind, Loving, Loyal,...",500.0,46.0,2.0,187.0
212,American Foxhounds,187,Hound,Hound,Scenthound,32.0,"Independent, Intelligent, Kind, Loving, Loyal,...",500.0,46.0,2.0,187.0
213,Sloughis,188,Sloughi,Hound,Sight,28.0,"Alert, Faithful, Intelligent, Sensitive, Indep...",900.0,NaN,5.0,188.0
214,English Foxhounds,189,English Foxhounds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,Norwegian Lundehunds,190,Norwegian Lundehund,Non Sporting,Northern,8.0,"Alert, Energetic, Loyal, Protective",500.0,NaN,4.0,190.0

In [469]:
akc_updated = pd.DataFrame(merged_df, columns = ['Breed','breed_rank'])

In [470]:
akc_updated.head()

                   Breed  breed_rank
0  Retrievers (Labrador)           1
1  Retrievers (Labrador)           1
2  Retrievers (Labrador)           1
3  Retrievers (Labrador)           1
4   German Shepherd Dogs           2

In [503]:
akc_updated.dtypes

Breed         object
breed_rank     int64
dtype: object

In [471]:
akc_updated.to_csv("akc_updated.csv")

In [121]:
df_updated = pd.DataFrame(merged_df, columns = ['BreedName', 'Group1', 'Group2', 'MaleWtKg','Temperment', 'AvgPupPrice', 'Intelligence', 'Watchdog'])

In [122]:
df_updated.head()

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog
0,Black Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
1,Chocolate Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
2,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
3,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
4,German Shepherd Dog,Herding,Herding,35.0,"Alert, Confident, Courageous, Curious, Intelli...",1400.0,3.0,6.0

In [123]:
df_updated

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog
0,Black Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
1,Chocolate Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
2,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
3,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0
4,German Shepherd Dog,Herding,Herding,35.0,"Alert, Confident, Courageous, Curious, Intelli...",1400.0,3.0,6.0
...,...,...,...,...,...,...,...,...
211,Foxhound,Hound,Scenthound,32.0,"Independent, Intelligent, Kind, Loving, Loyal,...",500.0,46.0,2.0
212,Hound,Hound,Scenthound,32.0,"Independent, Intelligent, Kind, Loving, Loyal,...",500.0,46.0,2.0
213,Sloughi,Hound,Sight,28.0,"Alert, Faithful, Intelligent, Sensitive, Indep...",900.0,NaN,5.0
214,English Foxhounds,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,Norwegian Lundehund,Non Sporting,Northern,8.0,"Alert, Energetic, Loyal, Protective",500.0,NaN,4.0

In [510]:
df_updated.to_csv("df_updated.csv")

In [423]:
nyc_df=pd.read_csv("./NYC_clean.csv")
nyc_df

,Unnamed: 0,Unnamed: 0.1,X,RowNumber,AnimalName,AnimalGender,BreedName,Borough,ZipCode,LicenseIssuedDate,LicenseExpiredDate
0,0,1,1,1753,SHADOW,M,Beagle,Brooklyn,11236,12/29/2014,01/30/2016
1,1,2,2,2415,ROCCO,M,Boxer,Brooklyn,11210,01/07/2015,01/30/2016
2,2,3,3,3328,LUIGI,M,Maltese,Bronx,10464,01/17/2015,02/02/2016
3,3,4,4,7537,PETUNIA,F,Pug,Brooklyn,11221,03/01/2015,03/28/2016
4,4,5,5,8487,ROMEO,M,Maltese,Bronx,10451,03/09/2015,03/09/2016
...,...,...,...,...,...,...,...,...,...,...,...
102006,121856,121927,121944,122224,ROCKO,M,Chihuahua,Queens,11365,12/31/2016,12/31/2017
102007,121857,121928,121945,122225,ROCKY,M,Boston Terrier,Manhattan,10022,12/31/2016,12/31/2018
102008,121858,121929,121946,122226,ROXY,F,"Collie, Border",Brooklyn,11219,12/31/2016,09/18/2018
102009,121859,121930,121947,122227,VALENTINA,F,German Shepherd Crossbreed,Staten Island,10312,12/31/2016,12/31/2017
102010,121860,121931,121948,122228,VENUS,F,Yorkshire Terrier,Bronx,10455,12/31/2016,06/06/2017

In [425]:
nyc_df["BreedName"].value_counts()

Yorkshire Terrier          7479
Shih Tzu                   6919
Chihuahua                  5590
Maltese                    4165
Labrador Retriever         4099
                           ...
Norwegian Buhund              1
Kai Ken                       1
Afghan Hound Crossbreed       1
Bracco Italiano               1
Russian Wolfhound             1
Name: BreedName, Length: 298, dtype: int64

In [426]:
# pop_select=df.loc[df['BreedName']=='Boxer']
# pop_select

In [315]:
#breed_select = nyc_df[nyc_df['Breed'].str.contains(r'(?!$)Shih')]
# breed_select["Breed"].value_counts()

Empty DataFrame
Columns: [LicenseType, Breed, Color, DogName, OwnerZip, ExpYear, ValidDate]
Index: []

In [435]:
merged_df=df.merge(nyc_df, how="left", on="BreedName" )

In [436]:
merged_df.head()

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017,Unnamed: 0,Unnamed: 0.1,X,RowNumber,AnimalName,AnimalGender,Borough,ZipCode,LicenseIssuedDate,LicenseExpiredDate
0,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0,3628.0,3631.0,3631.0,3504.0,OZZY,M,Manhattan,10038.0,01/19/2015,01/19/2016
1,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0,5085.0,5091.0,5091.0,4967.0,CHEWBACCA,M,Manhattan,10065.0,02/04/2015,02/04/2017
2,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0,7544.0,7554.0,7554.0,7430.0,DORADO,M,Manhattan,10038.0,02/27/2015,02/27/2016
3,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0,15962.0,15978.0,15978.0,15862.0,EINSTEIN,M,Manhattan,10016.0,05/04/2015,05/04/2016
4,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0,19103.0,19122.0,19122.0,19011.0,CHARLIE,F,Manhattan,10036.0,05/29/2015,05/29/2016

In [437]:
merged_df.to_csv("merged_nyc.csv")

In [319]:
# for i, row in nyc_df.iterrows():
#     value = "Labrador Retriever"
#     if nyc_df.loc[i, "Breed"]=="Lab Mix":
#         nyc_df.at[i,'Breed'] = value

In [353]:
#nyc_df.drop(nyc_df[nyc_df['Breed'] == "Mixed"].index, inplace = True)

In [358]:
# top_counts = nyc_df["Breed"].value_counts().to_frame()

In [360]:
merged_nyc = nyc_df.merge(df, how="left", left_on="Breed", right_on="BreedName")
merged_nyc.head(50)

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
0,Dog Individual Spayed Female,Bichon Frise,WHITE,CHLOE,15090,2017,12/15/2016 9:58,Bichon Frise,Non Sporting,Companion,4.0,"Affectionate, Cheerful, Feisty, Gentle, Playfu...",850.0,45.0,3.0,46.0
1,Dog Senior Citizen or Disability Spayed Female,Chihuahua,WHITE/BLACK/BROWN,CHALUPA,15120,2017,3/23/2017 14:32,Chihuahua,Toy,Companion,2.0,"Alert, Courageous, Devoted, Lively, Intelligen...",700.0,67.0,2.0,32.0
2,Dog Individual Spayed Female,Labrador Retriever,YELLOW,MIA,15133,2017,2/28/2017 10:59,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
3,Dog Individual Male,Dachshund,BLACK/BROWN/GREY,CODY,15108,2017,2/9/2017 13:40,Dachshund,Hound,Scenthound,7.0,"Clever, Courageous, Devoted, Lively, Playful, ...",600.0,49.0,3.0,13.0
4,Dog Individual Spayed Female,Dachshund,BLACK,SOPHIE,15108,2017,2/9/2017 13:40,Dachshund,Hound,Scenthound,7.0,"Clever, Courageous, Devoted, Lively, Playful, ...",600.0,49.0,3.0,13.0
5,Dog Senior Citizen or Disability Neutered Male,Terrier,SPOTTED,MAX,15228,2017,1/4/2017 15:49,Terrier,Terrier,Terrier,8.0,"Affectionate, Alert, Courageous, Intelligent, ...",1050.0,47.0,3.0,42.0
6,Dog Individual Female,Terrier,TAN,SHELBY,15241,2017,12/15/2016 8:37,Terrier,Terrier,Terrier,8.0,"Affectionate, Alert, Courageous, Intelligent, ...",1050.0,47.0,3.0,42.0
7,Dog Individual Spayed Female,Terrier,TAN,SHELBY,15241,2017,12/15/2016 8:37,Terrier,Terrier,Terrier,8.0,"Affectionate, Alert, Courageous, Intelligent, ...",1050.0,47.0,3.0,42.0
8,Dog Individual Spayed Female,German Shepherd Dog,BLACK/TAN,ARWEN,15218,2017,1/3/2017 13:12,German Shepherd Dog,Herding,Herding,35.0,"Alert, Confident, Courageous, Curious, Intelli...",1400.0,3.0,6.0,2.0
9,Dog Individual Spayed Female,Schnoodle,GREY,RILEY,15202,2017,1/4/2017 8:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Dog Senior Citizen or Disability Neutered Male,Labrador Retriever,BLACK,LUKE,15014,2017,NaN,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
11,Dog Senior Citizen or Disability Neutered Male,Labrador Retriever,BLACK,LUKE,15014,2017,NaN,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
12,Dog Senior Citizen or Disability Male,Labrador Retriever,BLACK,LUKE,15014,2017,12/29/2016 12:14,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
13,Dog Senior Citizen or Disability Duplicate,Labrador Retriever,BLACK,LUKE,15014,2017,3/20/2017 13:10,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
14,Dog Individual Neutered Male,Shih Tzu,BLACK/BROWN,TELLER,15146,2017,2/10/2017 13:32,Shih Tzu,Toy,Companion,6.0,"Active, Courageous, Friendly, Gentle, Happy, I...",1000.0,70.0,3.0,20.0
15,Dog Individual Neutered Male,Shih Tzu,WHITE/TAN,JACK,15146,2017,2/10/2017 13:32,Shih Tzu,Toy,Companion,6.0,"Active, Courageous, Friendly, Gentle, Happy, I...",1000.0,70.0,3.0,20.0
16,Dog Senior Citizen or Disability Neutered Male,Old English Sheepdog,WHITE/GREY,MAX,15129,2017,12/12/2016 11:09,Old English Sheepdog,Herding,Herding,39.0,"Adaptable, Bubbly, Intelligent, Loving, Playfu...",1350.0,63.0,4.0,70.0
17,Dog Senior Citizen or Disability Neutered Male,Maltese,WHITE,BAILEY,15236,2017,12/15/2016 14:50,Maltese,Toy,Companion,4.0,"Active, Docile, Easygoing, Gentle, Intelligent...",700.0,59.0,3.0,33.0
18,Dog Senior Citizen or Disability Spayed Female,Chihuahua,WHITE/TAN,ZEEBA,15025,2017,12/19/2016 15:13,Chihuahua,Toy,Companion,2.0,"Alert, Courageous, Devoted, Lively, Intelligen...",700.0,67.0,2.0,32.0
19,Dog Individual Neutered Male,Boxer,WHITE/BROWN,TYSON,15221,2017,12/20/2016 14:59,Boxer,Working,Guardian,30.0,"Brave, Bright, Confident, Energetic, Fearless,...",900.0,49.0,5.0,11.0
20,Dog Individual Neutered Male,German Shepherd,BRINDLE,LUIGI,15017,2017,2/13/2017 15:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Dog Senior Citizen or Disability Spayed Female,Pit Bull Terrier,WHITE/BLACK,TIA,15235,2017,2/8/2017 15:41,Pit Bull Terrier,Terrier,Terrier,23.0,"Affectionate, Aggressive, Clownish, Courageous...",600.0,NaN,3.0,NaN
22,Dog Individual Neutered Male,Cocker Spaniel,BLACK,BUSTER,15024,2017,12/20/2016 8:44,Cocker Spaniel,Sporting,Gun,10.0,"Even Tempered, Joyful, Merry, Outgoing, Intell...",700.0,20.0,3.0,29.0
23,Dog Individual Neutered Male,English Springer Spaniel,SPOTTED,MAX,15122,2017,NaN,English Springer Spaniel,Sporting,Gun,23.0,"Affectionate, Alert, Cheerful, Energetic, Inte...",750.0,13.0,3.0,27.0
24,Dog Senior Citizen or Disability Neutered Male,Bichon Frise,WHITE,BAILEY,15146,2017,12/15/2016 16:01,Bichon Frise,Non Sporting,Companion,4.0,"Affectionate, Cheerful, Feisty, Gentle, Playfu...",850.0,45.0,3.0,46.0
25,Dog Individual Neutered Male,Beagle,BLACK/BROWN,LOUIE,15239,2017,1/17/2017 9:11,Beagle,Hound,Scenthound,11.0,"Friendly, Gentle, Independent, Intelligent, Li...",650.0,72.0,1.0,6.0
26,Dog Individual Neutered Male,Golden Retriever,GOLD,TANNER,15101,2017,1/4/2017 15:57,Golden Retriever,Sporting,Gun,32.0,"Confident, Friendly, Intelligent, Kind, Reliab...",1500.0,4.0,3.0,3.0
27,Dog Individual Spayed Female,Cocker Spaniel,SPOTTED,LEXI,15044,2017,12/12/2016 9:35,Cocker Spaniel,Sporting,Gun,10.0,"Even Tempered, Joyful, Merry, Outgoing, Intell...",700.0,20.0,3.0,29.0
28,Dog Senior Citizen or Disability Neutered Male,West Highland White Terrier Westie,WHITE,CHARLIE,15143,2017,12/12/2016 9:18,West Highland White Terrier Westie,Terrier,Terrier,8.0,"Affectionate, Alert, Courageous, Intelligent, ...",1050.0,47.0,3.0,42.0
29,Dog Senior Citizen or Disability Male,Goldendoodle,BLACK,PEPE' LE PU,15238,2017,1/9/2017 14:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Dog Individual Spayed Female,Shih Tzu,WHITE/BLACK,BELLE,15065,2017,1/6/2017 9:24,Shih Tzu,Toy,Companion,6.0,"Active, Courageous, Friendly, Gentle, Happy, I...",1000.0,70.0,3.0,20.0
31,Dog Individual Spayed Female,Lhasa Apso,WHITE/BROWN,POOKIE,15137,2017,12/16/2016 8:40,Lhasa Apso,Non Sporting,Companion,6.0,"Alert, Assertive, Devoted, Friendly, Intellige...",600.0,68.0,3.0,77.0
32,Dog Senior Citizen or Disability Spayed Female,Lhasa Apso,WHITE/BROWN,POOKIE,15137,2017,12/16/2016 8:40,Lhasa Apso,Non Sporting,Companion,6.0,"Alert, Assertive, Devoted, Friendly, Intellige...",600.0,68.0,3.0,77.0
33,Dog Senior Citizen or Disability Spayed Female,Dachshund,RED,RUBY,15216,2017,12/28/2016 16:31,Dachshund,Hound,Scenthound,7.0,"Clever, Courageous, Devoted, Lively, Playful, ...",600.0,49.0,3.0,13.0
34,Dog Senior Citizen or Disability Male,Labrador Retriever,BLACK,GRISWALD,15148,2017,12/28/2016 16:31,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
35,Dog Senior Citizen or Disability Spayed Female,Parson Russell Terr,WHITE/BROWN,SKYLER,15137,2017,12/14/2016 9:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Dog Individual Male,Siberian Huskie,WHITE/BLACK,STORM,15122,2017,3/6/2017 13:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Dog Individual Spayed Female,Shih Tzu,WHITE/TAN,BONNIE,15237,2017,12/22/2016 8:56,Shih Tzu,Toy,Companion,6.0,"Active, Courageous, Friendly, Gentle, Happy, I...",1000.0,70.0,3.0,20.0
38,Dog Senior Citizen or Disability Spayed Female,Shih Tzu,WHITE/TAN,BONNIE,15237,2017,12/22/2016 8:56,Shih Tzu,Toy,Companion,6.0,"Active, Courageous, Friendly, Gentle, Happy, I...",1000.0,70.0,3.0,20.0
39,Dog Senior Citizen or Disability Female,Shih Tzu,WHITE/TAN,BONNIE,15237,2017,1/24/2017 14:51,Shih Tzu,Toy,Companion,6.0,"Active, Courageous, Friendly, Gentle, Happy, I...",1000.0,70.0,3.0,20.0
40,Dog Individual Spayed Female,Lhasa Apso,CREAM,MUFFIN,15243,2017,1/5/2017 10:04,Lhasa Apso,Non Sporting,Companion,6.0,"Alert, Assertive, Devoted, Friendly, Intellige...",600.0,68.0,3.0,77.0
41,Dog Individual Neutered Male,Labrador Retriever,YELLOW,BUCK,15101,2017,12/16/2016 16:25,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
42,Dog Senior Citizen or Disability Spayed Female,Parson Russell Terr,SPOTTED,MITZE,15034,2017,3/22/2017 15:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Dog Senior Citizen or Disability Spayed Female,German Shepherd,BLACK/BROWN,KAYLA,15120,2017,12/22/2016 16:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Dog Individual Neutered Male,Border Collie,WHITE/BLACK,FINNEY,15147,2017,1/5/2017 16:35,Border Collie,Herding,Herding,17.0,"Intelligent, Energetic, Alert, Responsive, Ten...",700.0,1.0,6.0,38.0
45,Dog Individual Neutered Male,Labrador Retriever,BLACK,BEAR,15024,2017,1/17/2017 11:26,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
46,Dog Individual Neutered Male,Lhasa Apso,WHITE/BROWN,BRADY,15065,2017,12/30/2016 11:15,Lhasa Apso,Non Sporting,Companion,6.0,"Alert, Assertive, Devoted, Friendly, Intellige...",600.0,68.0,3.0,77.0
47,Dog Individual Neutered Male,Boxer,WHITE/BLACK/BROWN,LARS,15229,2017,12/12/2016 9:35,Boxer,Working,Guardian,30.0,"Brave, Bright, Confident, Energetic, Fearless,...",900.0,49.0,5.0,11.0
48,Dog Individual Female,Border Collie,WHITE/BLACK,LACEY,15146,2017,1/19/2017 15:56,Border Collie,Herding,Herding,17.0,"Intelligent, Energetic, Alert, Responsive, Ten...",700.0,1.0,6.0,38.0
49,Dog Individual Neutered Male,Brittany Spaniel,WHITE,MACKENZIE,15126,2017,12/30/2016 15:41,Brittany Spaniel,Sporting,Gun,17.0,"Alert, Independent, Intelligent, Responsive, S...",750.0,19.0,3.0,26.0

In [362]:
merged_nyc.isna().sum().sum()

44143

In [509]:
nyc_breeds = merged_nyc['Breed'].value_counts().to_frame()
nyc_breeds

                    Breed
Labrador Retriever   2573
Beagle                965
Pit Bull Terrier      836
Chihuahua             830
Shih Tzu              771
...                   ...
Feist Treeing           1
Cannan Dog              1
Karelian Bear Dog       1
Pumi                    1
Polish Hound            1

[253 rows x 1 columns]

characteristics = df["BreedName'].value_counts().to_frame

In [363]:
merged_nyc["Breed"].value_counts()

Labrador Retriever    2573
Beagle                 965
Pit Bull Terrier       836
Chihuahua              830
Shih Tzu               771
                      ...
Feist Treeing            1
Cannan Dog               1
Karelian Bear Dog        1
Pumi                     1
Polish Hound             1
Name: Breed, Length: 253, dtype: int64

In [474]:
merged_nyc.to_csv("nyc_merged.csv")

In [84]:
#df.loc[df.PopularityUS2017 == 68.0, 'BreedName'] = "Cardigan Welsh Corgis"
#Changed Welsh Corgi, Cardigan, Pembroke, Corgi to Cardigan Welsh Corgis

In [303]:
merged_df = df.merge(nyc_df, how="left", left_on="BreedName", right_on="Breed")
merged_df.head(50)

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0,Dog Individual Neutered Male,Affenpinscher,BLACK,LUCKY,15239.0,2017.0,2/27/2017 13:21
1,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0,Dog Senior Citizen or Disability Neutered Male,Affenpinscher,BLACK,CORBIN,15243.0,2017.0,12/15/2016 11:27
2,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0,Dog Senior Citizen or Disability Spayed Female,Affenpinscher,BLACK,EBONY,15228.0,2017.0,12/13/2016 11:14
3,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0,Dog Individual Spayed Female,Affenpinscher,BLACK,PEPPER,15209.0,2017.0,2/21/2017 12:06
4,Afghan Hound,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,African Hunting Dog,NaN,NaN,23.0,Wild,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Senior Citizen or Disability Spayed Female,Airedale Terrier,BLACK/TAN,LUCY,15135.0,2017.0,12/27/2016 15:22
7,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Neutered Male,Airedale Terrier,BLACK/BROWN,WINSTON,15237.0,2017.0,12/21/2016 10:51
8,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Spayed Female,Airedale Terrier,BLACK/TAN,JESSICA,15132.0,2017.0,12/13/2016 10:51
9,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Senior Citizen or Disability Neutered Male,Airedale Terrier,BLACK/TAN,ELI,15108.0,2017.0,1/3/2017 16:34
10,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Neutered Male,Airedale Terrier,BLACK/BROWN,GROVER,15015.0,2017.0,1/10/2017 13:18
11,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Neutered Male,Airedale Terrier,BLACK,ROSCO,15139.0,2017.0,2/8/2017 9:10
12,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Senior Citizen or Disability Neutered Male,Airedale Terrier,BLACK/BROWN,ZEKE,15108.0,2017.0,1/3/2017 16:34
13,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Spayed Female,Airedale Terrier,WHITE/BLACK/BROWN,CATIE,15044.0,2017.0,3/23/2017 14:32
14,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Spayed Female,Airedale Terrier,BLACK/BROWN,GRACIE,15209.0,2017.0,1/24/2017 16:31
15,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Senior Citizen or Disability Neutered Male,Airedale Terrier,BLACK/TAN,GINO,15229.0,2017.0,12/14/2016 9:08
16,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Spayed Female,Airedale Terrier,BLACK/TAN,MADISON,15237.0,2017.0,1/23/2017 15:05
17,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Senior Citizen or Disability Neutered Male,Airedale Terrier,BLACK/TAN,HUDSON,15202.0,2017.0,12/7/2016 16:19
18,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Senior Citizen or Disability Neutered Male,Airedale Terrier,BLACK/TAN,WINSTON,16046.0,2017.0,1/4/2017 9:02
19,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Neutered Male,Airedale Terrier,BLACK/BROWN,SHARKEY,15228.0,2017.0,12/2/2016 13:28
20,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Senior Citizen or Disability Spayed Female,Airedale Terrier,BLACK/BROWN,MADDY,15108.0,2017.0,3/20/2017 15:45
21,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Neutered Male,Airedale Terrier,BLACK/BROWN,TUCKER,15205.0,2017.0,2/21/2017 12:09
22,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Spayed Female,Airedale Terrier,BROWN,IZZIE,15108.0,2017.0,2/7/2017 16:05
23,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Senior Citizen or Disability Neutered Male,Airedale Terrier,BLACK/BROWN,CHAOS,15209.0,2017.0,12/9/2016 8:58
24,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Spayed Female,Airedale Terrier,BLACK/TAN,ZIVA,15131.0,2017.0,12/7/2016 16:19
25,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Neutered Male,Airedale Terrier,BLACK/TAN,LEO,15102.0,2017.0,3/3/2017 14:14
26,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Senior Citizen or Disability Neutered Male,Airedale Terrier,BLACK/TAN,ABNER,15228.0,2017.0,12/29/2016 16:05
27,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Senior Citizen or Disability Neutered Male,Airedale Terrier,BLACK/BROWN,HARRY,15116.0,2017.0,1/4/2017 15:56
28,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Senior Citizen or Disability Spayed Female,Airedale Terrier,BLACK/BROWN,PENNY,15116.0,2017.0,1/4/2017 15:56
29,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Neutered Male,Airedale Terrier,BLACK/TAN,REMY,15143.0,2017.0,12/12/2016 15:33
30,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Senior Citizen or Disability Female,Airedale Terrier,BLACK/TAN,"SHILLELAGH ""LE-LAGH""",15106.0,2017.0,12/19/2016 15:40
31,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Spayed Female,Airedale Terrier,BLACK/BROWN,ARYA,15101.0,2017.0,1/30/2017 14:21
32,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Neutered Male,Airedale Terrier,BLACK/BROWN,COSMO KING,15146.0,2017.0,1/25/2017 10:03
33,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Neutered Male,Airedale Terrier,BLACK/BROWN,WINSTON,15216.0,2017.0,12/15/2016 10:16
34,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Spayed Female,Airedale Terrier,BLACK/TAN,ABBY,15131.0,2017.0,12/7/2016 16:19
35,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Senior Citizen or Disability Female,Airedale Terrier,BROWN,CUDDLES,15037.0,2017.0,2/2/2017 9:43
36,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Neutered Male,Airedale Terrier,WHITE,SPARKY,15143.0,2017.0,1/19/2017 11:31
37,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Senior Citizen or Disability Male,Airedale Terrier,BLACK/BROWN,HARLEY,15140.0,2017.0,11/30/2016 14:06
38,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Spayed Female,Airedale Terrier,SPOTTED,BONNIE,15145.0,2017.0,12/2/2016 15:43
39,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Female,Airedale Terrier,BLACK/BROWN,LUCKY PENNY LANE,15108.0,2017.0,12/5/2016 16:05
40,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Spayed Female,Airedale Terrier,BLACK/BROWN,ISABELLA,15143.0,2017.0,1/27/2017 8:46
41,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0,Dog Individual Spayed Female,Airedale Terrier,BLACK/BROWN,CHLOE,15229.0,2017.0,1/30/2017 13:52
42,Akbash,Working,Guardian,53.0,"Affectionate, Alert, Courageous, Independent, ...",600.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Akita,Working,Herding,44.0,"Alert, Courageous, Dignified, Docile, Friendly...",1000.0,54.0,5.0,47.0,Dog Senior Citizen or Disability Neutered Male,Akita,WHITE/BROWN,AMATSUMIKOTO,15215.0,2017.0,2/22/2017 9:14
44,Akita,Working,Herding,44.0,"Alert, Courageous, Dignified, Docile, Friendly...",1000.0,54.0,5.0,47.0,Dog Individual Neutered Male,Akita,WHITE/BLACK,APOLLO,15202.0,2017.0,1/3/2017 8:58
45,Akita,Working,Herding,44.0,"Alert, Courageous, Dignified, Docile, Friendly...",1000.0,54.0,5.0,47.0,Dog Individual Spayed Female,Akita,WHITE/BROWN,AKARA,15142.0,2017.0,12/14/2016 16:17
46,Akita,Working,Herding,44.0,"Alert, Courageous, Dignified, Docile, Friendly...",1000.0,54.0,5.0,47.0,Dog Individual Spayed Female,Akita,BLACK/BROWN,PRINCESS,15025.0,2017.0,12/2/2016 13:28
47,Akita,Working,Herding,44.0,"Alert, Courageous, Dignified, Docile, Friendly...",1000.0,54.0,5.0,47.0,Dog Individual Spayed Female,Akita,SPOTTED,MIKA,15065.0,2017.0,1/25/2017 13:22
48,Akita,Working,Herding,44.0,"Alert, Courageous, Dignified, Docile, Friendly...",1000.0,54.0,5.0,47.0,Dog Individual Spayed Female,Akita,BLACK,MAKOTO,15143.0,2017.0,12/1/2016 16:07
49,Akita,Working,Herding,44.0,"Alert, Courageous, Dignified, Docile, Friendly...",1000.0,54.0,5.0,47.0,Dog Individual Spayed Female,Akita,WHITE,KARMA,15101.0,2017.0,3/27/2017 14:51

In [305]:
merged_df.isna().sum().sum()

3639

In [307]:
null_df=merged_df[merged_df.isnull().any(axis=1)]

In [308]:
null_df

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
4,Afghan Hound,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,93.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,African Hunting Dog,NaN,NaN,23.0,Wild,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Akbash,Working,Guardian,53.0,"Affectionate, Alert, Courageous, Independent, ...",600.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Alaskan Malamute,Working,Northern,40.0,"Affectionate, Devoted, Dignified, Friendly, Lo...",1350.0,50.0,5.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,American Bulldog,Working,Guardian,38.0,"Affectionate, Alert, Courageous, Energetic, Ge...",800.0,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11551,Wirehaired Terrier,Terrier,Terrier,7.0,"Alert, Bold, Fearless, Friendly, Keen, Quick, ...",900.0,51.0,3.0,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11552,Xoloitzcuintle/Mexican Hairless,Non Sporting,Sight,11.0,"Aleret, Calm, Cheerful, Companionable, Loyal, ...",700.0,NaN,3.0,143.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11553,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11554,Yorkshire Terrier Yorkie,Toy,Companion,3.0,"Alert, Courageous, Energetic, Independent, Int...",800.0,27.0,3.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11555,Mixed Breed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [310]:
merged_df["Breed"].value_counts()

Labrador Retriever     1379
German Shepherd Dog     748
Golden Retriever        694
Shih Tzu                636
Chihuahua               626
                       ...
Sussex Spaniel            1
Kerry Blue Terrier        1
Dingo                     1
Carolina Dog              1
Fila Brasileiro           1
Name: Breed, Length: 109, dtype: int64