In [91]:
import pandas as pd
import numpy as np
import os

In [92]:
os.getcwd()

'C:\\Users\\TriciaToffey\\desktop\\GitHubs\\ETL_Project\\no_dog_etl'

In [93]:
df_orig=pd.read_csv("./Resources/dog_breed_characteristics.csv")
df_orig.head(5)

,BreedName,AltBreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,MalaysiaGuardedDog,MalaysiaProhibitedDog,MalaysiaPopularity,PopularityUS2017
0,Affenpinscher,NaN,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,NaN,NaN,NaN,147.0
1,Afghan Hound,NaN,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,NaN,NaN,NaN,93.0
2,African Hunting Dog,NaN,NaN,NaN,23.0,Wild,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Airedale Terrier,Airedale,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,NaN,NaN,NaN,55.0
4,Akbash,NaN,Working,Guardian,53.0,"Affectionate, Alert, Courageous, Independent, ...",600.0,NaN,5.0,NaN,NaN,NaN,NaN

In [94]:
df_orig.columns

Index(['BreedName', 'AltBreedName', 'Group1', 'Group2', 'MaleWtKg',
       'Temperment', 'AvgPupPrice', 'Intelligence', 'Watchdog',
       'MalaysiaGuardedDog', 'MalaysiaProhibitedDog', 'MalaysiaPopularity',
       'PopularityUS2017'],
      dtype='object')

In [95]:
df=df_orig.drop(["AltBreedName", "MalaysiaGuardedDog", "MalaysiaProhibitedDog", "MalaysiaPopularity"], axis=1)

In [96]:
df.head()

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
0,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0
1,Afghan Hound,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,93.0
2,African Hunting Dog,NaN,NaN,23.0,Wild,NaN,NaN,NaN,NaN
3,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0
4,Akbash,Working,Guardian,53.0,"Affectionate, Alert, Courageous, Independent, ...",600.0,NaN,5.0,NaN

In [97]:
df=df.dropna()
df

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
0,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0
1,Afghan Hound,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,93.0
3,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0
5,Akita,Working,Herding,44.0,"Alert, Courageous, Dignified, Docile, Friendly...",1000.0,54.0,5.0,47.0
6,Alaskan Malamute,Working,Northern,40.0,"Affectionate, Devoted, Dignified, Friendly, Lo...",1350.0,50.0,5.0,59.0
...,...,...,...,...,...,...,...,...,...
243,Wire Fox Terrier,Terrier,Terrier,7.0,"Alert, Bold, Fearless, Friendly, Keen, Quick, ...",900.0,51.0,3.0,99.0
244,Wire-haired Pointing Griffon,Sporting,Gun,25.0,"Gentle, Loyal, Proud, Trainable, Vigilant, Int...",700.0,46.0,5.0,65.0
245,Wirehaired Terrier,Terrier,Terrier,7.0,"Alert, Bold, Fearless, Friendly, Keen, Quick, ...",900.0,51.0,3.0,99.0
247,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
248,Yorkshire Terrier Yorkie,Toy,Companion,3.0,"Alert, Courageous, Energetic, Independent, Int...",800.0,27.0,3.0,9.0

In [106]:
#df.reset_index(inplace=True)

In [100]:
df=df.rename(columns={'PopularityUS2017': 'breed_rank'})

In [101]:
df

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,breed_rank
0,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0
1,Afghan Hound,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,93.0
3,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0
5,Akita,Working,Herding,44.0,"Alert, Courageous, Dignified, Docile, Friendly...",1000.0,54.0,5.0,47.0
6,Alaskan Malamute,Working,Northern,40.0,"Affectionate, Devoted, Dignified, Friendly, Lo...",1350.0,50.0,5.0,59.0
...,...,...,...,...,...,...,...,...,...
243,Wire Fox Terrier,Terrier,Terrier,7.0,"Alert, Bold, Fearless, Friendly, Keen, Quick, ...",900.0,51.0,3.0,99.0
244,Wire-haired Pointing Griffon,Sporting,Gun,25.0,"Gentle, Loyal, Proud, Trainable, Vigilant, Int...",700.0,46.0,5.0,65.0
245,Wirehaired Terrier,Terrier,Terrier,7.0,"Alert, Bold, Fearless, Friendly, Keen, Quick, ...",900.0,51.0,3.0,99.0
247,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
248,Yorkshire Terrier Yorkie,Toy,Companion,3.0,"Alert, Courageous, Energetic, Independent, Int...",800.0,27.0,3.0,9.0

In [102]:
df['breed_rank'] = df['breed_rank'].astype(np.int64)

In [103]:
df=df.rename(columns={'Group1':'show_groups', 'Group2': 'subcategories', 'MaleWtKg': 'weight', 'Temperment': 'Temperament', "AvgPupPrice":"Average_Price", "Watchdog": "watchdog" })

In [104]:
df

,BreedName,show_groups,subcategories,weight,Temperament,Average_Price,Intelligence,watchdog,breed_rank
0,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147
1,Afghan Hound,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,93
3,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55
5,Akita,Working,Herding,44.0,"Alert, Courageous, Dignified, Docile, Friendly...",1000.0,54.0,5.0,47
6,Alaskan Malamute,Working,Northern,40.0,"Affectionate, Devoted, Dignified, Friendly, Lo...",1350.0,50.0,5.0,59
...,...,...,...,...,...,...,...,...,...
243,Wire Fox Terrier,Terrier,Terrier,7.0,"Alert, Bold, Fearless, Friendly, Keen, Quick, ...",900.0,51.0,3.0,99
244,Wire-haired Pointing Griffon,Sporting,Gun,25.0,"Gentle, Loyal, Proud, Trainable, Vigilant, Int...",700.0,46.0,5.0,65
245,Wirehaired Terrier,Terrier,Terrier,7.0,"Alert, Bold, Fearless, Friendly, Keen, Quick, ...",900.0,51.0,3.0,99
247,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1
248,Yorkshire Terrier Yorkie,Toy,Companion,3.0,"Alert, Courageous, Energetic, Independent, Int...",800.0,27.0,3.0,9

In [105]:
#Characteristics_DF
characteristics_df = df
characteristics_df
characteristics_df.to_csv("characteristics_df.csv")